<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Direct shifts</h1>
    <p>
      You are invited to direct shifts by <%= @current_user.first_name %><br>
    </p>
    <p>
      To Sign up to the site, just follow this link: <a href="<%=@invite_link %>">Click here</a>
    </p>
  </body>
</html>